<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.orh/extra/spring-security">
<th:block th:fragment="navFragment">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    <!------------Static navbar ------------>
    <!-- Header -->
    <header id="header" class="alt">
        <a href="/" class="logo"><strong>TEAM BRIGHTICS</strong></a>
        <nav>
            <a sec:authorize="hasRole('USER')" th:href="@{/mypage}">mypage &nbsp;</a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">admin &nbsp;</a>
            <div id="alert"><a th:href="@{/search}" ><i class="fas fa-search"></i>search &nbsp;&nbsp;</a></div>
            <div id="search"><a><i class="fas fa-globe"></i>notice &nbsp;&nbsp;</a></div>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/candidate">CANDIDATE</a></li>
            <li><a href="/analysis">ANALYSIS</a></li>
            <li><a href="/about">ABOUT THIS PROJECT</a></li>
        </ul>
                <ul class="actions stacked" >
                    <li><a sec:authorize="!isAuthenticated()" th:href="@{/signup}" class="button primary fit">Sign Up</a></li>
                    <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="button fit">Log-In</a></li>
                    <li><form th:action="@{/logout}" th:method="Post"><button type="submit" sec:authorize="isAuthenticated()" class="button fit">Logout</button></form></li>
                </ul>
    </nav>

</th:block>
</html>